{include file="layouts/header" /}

  <div id="fh5co-project">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
          <span>Want Some Cool Stuff</span>
          <h2>历史项目</h2>
          <p>Smile and silence are two powerful tools. Smile is the way to solve many problems and silence is the way to avoid many problems.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.bimprofessor.com/" target="_blank"><img src="/static/template/images/cunji-work-1.png" class="img-responsive">
            <h3>坤宏睿博BIM</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.longhenglatex.com/" target="_blank"><img src="/static/template/images/cunji-work-2.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>温州隆亨乳胶制品</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.1986.hk/" target="_blank"><img src="/static/template/images/cunji-work-3.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>心成国际​装饰</h3>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.pgkeepdiving.com/" target="_blank"><img src="/static/template/images/cunji-work-4.png" class="img-responsive">
            <h3>热浪潜水</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.kc003.com/" target="_blank"><img src="/static/template/images/cunji-work-5.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>快充商城</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.gongjushijiechaoshi.com/" target="_blank"><img src="/static/template/images/cunji-work-6.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>工具世界超市</h3>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.zetacorporate.com/" target="_blank"><img src="/static/template/images/cunji-work-7.png" class="img-responsive">
            <h3>知态材料科技</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.shkhj.com/" target="_blank"><img src="/static/template/images/cunji-work-8.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>重庆市武隆县江口酒业</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.gzyayuan.cc/" target="_blank"><img src="/static/template/images/cunji-work-9.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>广州市雅园景观设施</h3>
          </a>
        </div>
      </div>

    </div>

  </div>


  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>You deserved happiness</span>
          <h2>心灵感知</h2>
          <p>Do not say that opportunities never come. It did come but you just weren’t willing to give up what you had.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;要自由的人，其实要承担最大的责任，选别人少走的路的人，背负最沉重的枷锁。从来就没有不需要抵抗重力的飞翔。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己001号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo;美好的东西都会掺杂虚伪的成分。比如小说是虚构的，食物是加了作料才好美味的。真实很冰冷，艺术需加工。任何一样东西若是完完整整地呈现出来，那样东西会很乏味，也很冰冷。但如果经过我们加入虚拟的、虚幻元素过后，那它就会变成美好的。虚伪创造美。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己002号</cite></p>
            </blockquote>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;第一等智慧的人都是自相矛盾的，两个原则没有任何一个是对的，只有在具体的时间和地点，做出的唯一正好的判断，才是对的。中庸，是恰到好处&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己003号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; 每个人的心中都有一匹欲望的野马。你可以去放养它，也可以去圈养它驯养它。但是不要假装它不存在，排斥它。我们每个人都应该自由的，骄傲的活出个生机勃勃的生命。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己004号</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>

{include file="layouts/footer" /}
