{include file="layouts/header" /}

  <div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>We're expert</span>
            <h2>我们能做什么？</h2>
            <p>Some birds are not meant to be caged; their feathers are just too bright. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-eye"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-web"></use>
              </svg>
            </span>
            <h3>网站建设</h3>
            <p>网站开发是制作一些专业性强的网站，比如说动态PHP网页。而且网站开发一般是原创，网站制作可以用别人的模板。网站开发字面意思比制作有更深层次的进步，它不仅仅是网站美工和内容，它可能涉及到域名注册查询、网站的一些功能的开发。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-command"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-weixin3"></use>
              </svg>
            </span>
            <h3>微信公众号</h3>
            <p>利用公众账号平台进行自媒体活动，简单来说就是进行一对多的媒体性行为活动，如商家申请公众微信服务号通过二次开发展示商家微官网、微会员、微推送、微支付、微活动、微报名、微分享、微名片等，已经形成了一种主流的线上线下微信互动营销方式。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-power"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-weixinxiaochengxu"></use>
              </svg>
            </span>
            <h3>微信小程序</h3>
            <p>小程序是一种不需要下载安装即可使用的应用，它实现了应用“触手可及”的梦想，用户扫一扫或者搜一下即可打开应用。也体现了“用完即走”的理念，用户不用关心是否安装太多应用的问题。应用将无处不在，随时可用，但又无需安装卸载。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-power"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-h5-copy"></use>
              </svg>
            </span>
            <h3>H5页面</h3>
            <p>H5就是把广告做成一个场景，通过二维码或者转发链接，让用户更直观的体验互动，场景可以包括：图片、视频、音频、地图、导航、会议报名、产品链接等多个模块，是一种新的移动媒体广告模式。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-eye"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-app"></use>
              </svg>
            </span>
            <h3>APP／WebAPP</h3>
            <p>手机软件:主要指安装在智能手机上的软件，完善原始系统的不足与个性化。是手机完善其功能，为用户提供更丰富的使用体验的主要手段。手机软件的运行需要有相应的手机系统：iOS，Android。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-command"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-UI"></use>
              </svg>
            </span>
            <h3>产品／UI设计</h3>
            <p>UI设计是指对软件的人机交互、操作逻辑、界面美观的整体设计，也叫界面设计。好的UI设计不仅是让软件变得有个性有品位，还要让软件的操作变得舒适简单、自由，充分体现软件的定位和特点。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fh5co-project">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
          <span>Want Some Cool Stuff</span>
          <h2>最近项目</h2>
          <p>Smile and silence are two powerful tools. Smile is the way to solve many problems and silence is the way to avoid many problems.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.bimprofessor.com/" target="_blank"><img src="/static/template/images/cunji-work-1.png" class="img-responsive">
            <h3>坤宏睿博BIM</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.longhenglatex.com/" target="_blank"><img src="/static/template/images/cunji-work-2.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>温州隆亨乳胶制品</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="http://www.1986.hk/" target="_blank"><img src="/static/template/images/cunji-work-3.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
            <h3>心成国际​装饰</h3>
          </a>
        </div>

      </div>
    </div>

  </div>

  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>You deserved happiness</span>
          <h2>心灵感知</h2>
          <p>Do not say that opportunities never come. It did come but you just weren’t willing to give up what you had.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;要自由的人，其实要承担最大的责任，选别人少走的路的人，背负最沉重的枷锁。从来就没有不需要抵抗重力的飞翔。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己001号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo;美好的东西都会掺杂虚伪的成分。比如小说是虚构的，食物是加了作料才好美味的。真实很冰冷，艺术需加工。任何一样东西若是完完整整地呈现出来，那样东西会很乏味，也很冰冷。但如果经过我们加入虚拟的、虚幻元素过后，那它就会变成美好的。虚伪创造美。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己002号</cite></p>
            </blockquote>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;第一等智慧的人都是自相矛盾的，两个原则没有任何一个是对的，只有在具体的时间和地点，做出的唯一正好的判断，才是对的。中庸，是恰到好处&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己003号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; 每个人的心中都有一匹欲望的野马。你可以去放养它，也可以去圈养它驯养它。但是不要假装它不存在，排斥它。我们每个人都应该自由的，骄傲的活出个生机勃勃的生命。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己004号</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>


  <div id="fh5co-counter">
    <div class="container">

      <div class="row animate-box" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Enjoy it</span>
          <h2>有趣事实</h2>
          <p>The happiest people are not those who have the best of everything, but who make the best out of everything. </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
              <span class="icon">
                <i class="ti-face-smile"></i>
              </span>
              <span class="counter"><span class="js-counter" data-from="0" data-to="50" data-speed="1500" data-refresh-interval="50">1</span>+</span>
              <span class="counter-label">服务客户</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="feature-center">
              <span class="icon">
                <i class="ti-briefcase"></i>
              </span>
              <span class="counter"><span class=" js-counter" data-from="0" data-to="50" data-speed="1500" data-refresh-interval="50">1</span>+</span>
              <span class="counter-label">完成项目</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="feature-center">
              <span class="icon">
                <i class="ti-time"></i>
              </span>
              <span class="counter"><span class="js-counter" data-from="0" data-to="26280" data-speed="1500" data-refresh-interval="50">1</span>H+</span>
              <span class="counter-label">开发时间</span>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-download"></i>
            </span>
            <span class="counter"><span class="js-counter" data-from="0" data-to="8760" data-speed="1500" data-refresh-interval="50">1</span>H+</span>
            <span class="counter-label">成立时间</span>
          </div>
        </div>

        </div>
      </div>
  </div>

  <!-- <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Thoughts &amp; Ideas</span>
          <h2>存己博客</h2>
          <p>Don't set your goals according to what are deemed important by others. Only you know what is best for yourself. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="http://www.laruence.com/" target="_blank">MySQL 数据库锁定机制</a></h3>
            <p>1. MySQL 锁定机制简介
            各存储引擎使用三种类型锁定机制
            行级锁定（row-level）
            表级锁定（table-level）
            页级锁定（page-leve） ： 页级锁定介于行级锁定与表级锁定之间。
            2. MySQL数据库中 表级锁定主要是 MyISAM、Memory、CSV 等一些非事务性存储引擎，使用行级锁定主要是 InnoDB 存储引擎和 NDB Cluster 存储引擎，页级锁定主要是BerkeleyDB存储引擎</p>
            <p class="author"><img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="/Blog/detail/id/2" target="_blank">在PHP中使用协程实现多任务调度</a></h3>
            <p>PHP5.5一个比较好的新功能是加入了对迭代生成器和协程的支持.对于生成器,PHP的文档和各种其他的博客文章已经有了非常详细的讲解.协程相对受到的关注就少了,因为协程虽然有很强大的功能但相对比较复杂，也比较难被理解</p>
            <p class="author"><img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="/Blog/detail/id/3" target="_blank">Yaconf – 一个高性能的配置管理扩展</a></h3>
            <p>这个项目其实不是我新的idea, 这个是我在来微博以后, 第一个优化项目中顺手做的一个小工具, 本身叫做Weibo_Conf. 但是因为Weibo_Conf是属于Weibo扩展的, 里面还有一些其他功能是专门为Weibo定制的. 所以不适合直接开源</p>
            <p class="author"><img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

{include file="layouts/footer" /}


