{include file="layouts/header" /}

  <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Thoughts &amp; Ideas</span>
          <h2>存己博客</h2>
          <p>Don't set your goals according to what are deemed important by others. Only you know what is best for yourself. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">记录一场没有胜利的局部战斗</a></h3>
            <p>这个问题, 早在1年前就遇到了, 当时因为没有在意一直没有跟进.最近团队来了个新人, 又一次触发了这个问题, 所以终于下定决定要好好找找这个BUG的原因..首先,这篇文章是个流水账, 没啥意思, 其次最终我其实也没能真正找到原因</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">在PHP中使用协程实现多任务调度</a></h3>
            <p>PHP5.5一个比较好的新功能是加入了对迭代生成器和协程的支持.对于生成器,PHP的文档和各种其他的博客文章已经有了非常详细的讲解.协程相对受到的关注就少了,因为协程虽然有很强大的功能但相对比较复杂，也比较难被理解</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">Yaconf – 一个高性能的配置管理扩展</a></h3>
            <p>这个项目其实不是我新的idea, 这个是我在来微博以后, 第一个优化项目中顺手做的一个小工具, 本身叫做Weibo_Conf. 但是因为Weibo_Conf是属于Weibo扩展的, 里面还有一些其他功能是专门为Weibo定制的. 所以不适合直接开源</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">记录一场没有胜利的局部战斗</a></h3>
            <p>这个问题, 早在1年前就遇到了, 当时因为没有在意一直没有跟进.最近团队来了个新人, 又一次触发了这个问题, 所以终于下定决定要好好找找这个BUG的原因..首先,这篇文章是个流水账, 没啥意思, 其次最终我其实也没能真正找到原因</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">在PHP中使用协程实现多任务调度</a></h3>
            <p>PHP5.5一个比较好的新功能是加入了对迭代生成器和协程的支持.对于生成器,PHP的文档和各种其他的博客文章已经有了非常详细的讲解.协程相对受到的关注就少了,因为协程虽然有很强大的功能但相对比较复杂，也比较难被理解</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">Yaconf – 一个高性能的配置管理扩展</a></h3>
            <p>这个项目其实不是我新的idea, 这个是我在来微博以后, 第一个优化项目中顺手做的一个小工具, 本身叫做Weibo_Conf. 但是因为Weibo_Conf是属于Weibo扩展的, 里面还有一些其他功能是专门为Weibo定制的. 所以不适合直接开源</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">记录一场没有胜利的局部战斗</a></h3>
            <p>这个问题, 早在1年前就遇到了, 当时因为没有在意一直没有跟进.最近团队来了个新人, 又一次触发了这个问题, 所以终于下定决定要好好找找这个BUG的原因..首先,这篇文章是个流水账, 没啥意思, 其次最终我其实也没能真正找到原因</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">在PHP中使用协程实现多任务调度</a></h3>
            <p>PHP5.5一个比较好的新功能是加入了对迭代生成器和协程的支持.对于生成器,PHP的文档和各种其他的博客文章已经有了非常详细的讲解.协程相对受到的关注就少了,因为协程虽然有很强大的功能但相对比较复杂，也比较难被理解</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">2017年10月27日</span>
            <h3><a href="#">Yaconf – 一个高性能的配置管理扩展</a></h3>
            <p>这个项目其实不是我新的idea, 这个是我在来微博以后, 第一个优化项目中顺手做的一个小工具, 本身叫做Weibo_Conf. 但是因为Weibo_Conf是属于Weibo扩展的, 里面还有一些其他功能是专门为Weibo定制的. 所以不适合直接开源</p>
            <p class="author"><img src="/static/template/images/person1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite> 重庆存己科技</cite></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{include file="layouts/footer" /}
