{include file="layouts/header" /}

  <div id="fh5co-services">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>We're expert</span>
            <h2>我们能做什么？</h2>
            <p>Some birds are not meant to be caged; their feathers are just too bright. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-eye"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-web"></use>
              </svg>
            </span>
            <h3>网站建设</h3>
            <p>网站开发是制作一些专业性强的网站，比如说动态PHP网页。而且网站开发一般是原创，网站制作可以用别人的模板。网站开发字面意思比制作有更深层次的进步，它不仅仅是网站美工和内容，它可能涉及到域名注册查询、网站的一些功能的开发。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-command"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-weixin3"></use>
              </svg>
            </span>
            <h3>微信公众号</h3>
            <p>利用公众账号平台进行自媒体活动，简单来说就是进行一对多的媒体性行为活动，如商家申请公众微信服务号通过二次开发展示商家微官网、微会员、微推送、微支付、微活动、微报名、微分享、微名片等，已经形成了一种主流的线上线下微信互动营销方式。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-power"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-weixinxiaochengxu"></use>
              </svg>
            </span>
            <h3>微信小程序</h3>
            <p>小程序是一种不需要下载安装即可使用的应用，它实现了应用“触手可及”的梦想，用户扫一扫或者搜一下即可打开应用。也体现了“用完即走”的理念，用户不用关心是否安装太多应用的问题。应用将无处不在，随时可用，但又无需安装卸载。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-power"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-h5-copy"></use>
              </svg>
            </span>
            <h3>H5页面</h3>
            <p>H5就是把广告做成一个场景，通过二维码或者转发链接，让用户更直观的体验互动，场景可以包括：图片、视频、音频、地图、导航、会议报名、产品链接等多个模块，是一种新的移动媒体广告模式。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-eye"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-app"></use>
              </svg>
            </span>
            <h3>APP／WebAPP</h3>
            <p>手机软件:主要指安装在智能手机上的软件，完善原始系统的不足与个性化。是手机完善其功能，为用户提供更丰富的使用体验的主要手段。手机软件的运行需要有相应的手机系统：iOS，Android。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <!-- <i class="icon-command"></i> -->
              <svg class="icons" aria-hidden="true">
                  <use xlink:href="#icon-UI"></use>
              </svg>
            </span>
            <h3>产品／UI设计</h3>
            <p>UI设计是指对软件的人机交互、操作逻辑、界面美观的整体设计，也叫界面设计。好的UI设计不仅是让软件变得有个性有品位，还要让软件的操作变得舒适简单、自由，充分体现软件的定位和特点。</p>
            <p><a href="javascript:;">Ending.</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>You deserved happiness</span>
          <h2>心灵感知</h2>
          <p>Do not say that opportunities never come. It did come but you just weren’t willing to give up what you had.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;要自由的人，其实要承担最大的责任，选别人少走的路的人，背负最沉重的枷锁。从来就没有不需要抵抗重力的飞翔。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己001号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo;美好的东西都会掺杂虚伪的成分。比如小说是虚构的，食物是加了作料才好美味的。真实很冰冷，艺术需加工。任何一样东西若是完完整整地呈现出来，那样东西会很乏味，也很冰冷。但如果经过我们加入虚拟的、虚幻元素过后，那它就会变成美好的。虚伪创造美。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己002号</cite></p>
            </blockquote>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;第一等智慧的人都是自相矛盾的，两个原则没有任何一个是对的，只有在具体的时间和地点，做出的唯一正好的判断，才是对的。中庸，是恰到好处&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己003号</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo; 每个人的心中都有一匹欲望的野马。你可以去放养它，也可以去圈养它驯养它。但是不要假装它不存在，排斥它。我们每个人都应该自由的，骄傲的活出个生机勃勃的生命。&rdquo;</p>
              <p class="author"> <img src="/static/template/images/person-1.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"> <cite>&mdash; 存己004号</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>

{include file="layouts/footer" /}